<link rel="stylesheet" href="{{ "/assets/main.css?v=0.1.9" | relative_url }}" />
<script src="{{ "/assets/main.js?v=0.1.9" | relative_url }}" defer></script>
{%- if "chapter,post,page" contains page.layout -%}
{%- if site.theme_setting.code or page.code -%}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/tomorrow.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js" defer onload="initHljs()"></script>
{%- endif -%}
{%- if site.theme_setting.mermaid or page.mermaid -%}
<script src="https://unpkg.com/mermaid@8.5.0/dist/mermaid.min.js" defer onload="initMermaid()"></script>
{%- endif -%}
{%- endif -%}
